<p id="notice"><%= notice %></p>
 <div class="row">
  <div class="col s12">
    <div class="card">
      <div class="card-image">
        <%= image_tag @food_item.imgurl, alt: "#{@food_item.name}" %>
        <span class="card-title"><%= @food_item.name %>
        &nbsp<%= number_to_currency(@food_item.price, unit: "đ ") %></span>
      </div>
      <div class="card-content">
        <p><%= @food_item.description %></p>
      </div>
      <div class="card-action center">

        <%= link_to "Order", new_food_item_order_path(@food_item), :class=>"waves-effect waves-light btn purple" %>
      </div>
    </div>
  </div>
</div>



